.whufc-block {
    display: block;
    background-size: 100% 100%;
    background:url('chrome-extension://__MSG_@@extension_id__/img/logo.png');
    background-size: cover;
    position: absolute;
}

.animation {
    animation-name: scaleOut;
    animation-duration: 1.5s;   
    animation-timing-function: ease-in-out;   
    visibility: visible !important;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

@keyframes scaleOut {
    0% {
         transform: scale(1);
    }
    100% {
         transform: scale(0);
    } 
}